.chat-container { 
  position: fixed; 
  bottom:6vh; 
  right: 3vw; 
  width: 25vw; 
  height: 33vw; 
  z-index: 1050; 
  border-radius: 20px 20px 0 0; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
  transition: height 0.3s ease, transform 0.3s ease; 
  background-color: #fff2de;
}

.chat-container.minimized { 
  height: 100px; 
  min-height: 50px; 
  max-height: 100px; 
  width: 70vw;  
  max-width: 300px; 
  bottom: 4vh; 
  right: 3vw;  
  box-shadow: none!important; 
  background-color: #ccd5ae!important; 
  transform: translateY(calc(100% - 50px)); 
}

.card-chat { 
  display: flex; 
  flex-direction: column; 
  height: 85vh; 
  width: 100%; 
  min-height: 65vh; 
  max-height: 70vh; 
  border-radius: 20px 20px 5px 5px !important; 
  border: none!important; 
  overflow: hidden; 
  transition: all 0.5s ease;  
  animation: fadeInSlideUp 1.3s ease forwards; 
  background-color: #fffefb;
}

.card-chat.minimized { 
  height: 100%; 
  overflow: hidden;  
  border: 0!important; 
}

.card-chat-header { 
  border-radius: 20px 20px 0 0!important; 
  border-bottom: 0.5px solid #9090907d !important; 
  background-color: #ccd5ae; 
}

.minimized-header { 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding: 0.5rem 1rem;  
  background-color: #ccd5ae;  
  cursor: pointer;  
  height: 55px;
} 

.card-chat-header.minimized-header { 
  padding: 5px; 
  justify-content: center; 
  border-radius: 20px 20px 0px 0px!important; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
}

.card-chat-footer { 
  border-radius: 0 0 10px 10px !important; 
  background-color: transparent; 
  border-top: 1px solid #3737373b !important; 
  padding-bottom: 5px; 
}

.card-chat-body { 
  overflow-y: auto; 
  flex-grow: 1; 
  background: whitesmoke; 
}

.card-chat-body, .card-chat-footer { 
  transition: opacity 0.5s ease; 
}

.msg_head { 
  position: relative; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

.user-message { 
  animation: fadeInSlideUp 0.3s ease forwards; 
}

.container-assistant-msg { 
  position: relative; 
  margin-top: auto; 
  margin-bottom: auto; 
  margin-left: 10px; 
  border-radius: 18px 18px 18px 0px; 
  color: #212529; 
  background-color: #fffefb; 
  padding: 10px 20px; 
  font-size: 14px; 
  display: flex; 
  flex-direction: column; 
  max-width: 75%; 
}

.container-user-msg { 
  margin-top: auto; 
  margin-bottom: auto; 
  margin-right: 10px; 
  border-radius: 18px 18px 0px 18px; 
  background: #537592;
  padding: 10px 20px; 
  color: #ffffff; 
  font-size: 14px; 
  max-width: 75%; 
}

.btn-minimize { 
  border: none; 
  background: transparent; 
  cursor: pointer; 
  padding: 0; 
  margin: 0; 
  line-height: 1; 
  width: 2rem; 
  height: 2rem; 
}


.btn-minimize img { 
  width: 1.4rem;  
  height: 1.4rem;  
  -webkit-filter: invert(1.0); 
          filter: invert(1); 
}

.btn-minimize img:hover { 
  background-color: rgba(0, 0, 0, 0.4); 
  border-radius: 10%; 
  background-size: 2rem; 
}

.user_info_maximized { 
  margin-left: 2vw; 
  font-size: 14px!important; 
  color: #ffffff; 
}

.user_info_minimized { 
  margin-left: 2vw; 
  font-size: 12px!important; 
  color: #ffffff; 
}

.audio-player { 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  z-index: 2;  
}

.audio-control { 
  width: 20px;  
  height: 20px;  
  cursor: pointer; 
  border-radius: 50%; 
  transition: all 0.3s ease; 
  z-index: 3; 
  margin-left: 10px; 
}

.audio-control.loading { 
  animation: spin 2s linear infinite; 
}

@keyframes spin { 
  0% { transform: rotate(0deg); } 
  100% { transform: rotate(360deg); } 
}
